

<link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">

<form class="container">

    <br>
    <br>
        <div class="form-row">
          <div class="form-group col-md-5">
            <label for="nombre">Nombre</label>
            <input   type="text" class="form-control" id="nombre" placeholder="Nombre" required>
          </div>

          <div class="form-group col-md-5">
                <label for="apellido">Apellido</label>
                <input  type="text" class="form-control" id="apellido" placeholder="Apellido" required>
              </div>

        </div>

        <div class="form-row">
                <div class="form-group col-md-5">
                  <label for="telefonofijo">Telefono Fijo</label>
                  <input  type="number" class="form-control" id="telefonofijo" placeholder="Telefono Fijo" required>
                </div>
      
                <div class="form-group col-md-5">
                      <label for="fecnacimiento">Fecha Nacimiento</label>
                      <input    type="date" class="form-control" id="fecnacimiento" required >
                </div>

                <div class="form-group col-md-5">
                        <label for="cedula">Cedula </label>
                        <input     type="number" class="form-control" id="cedula" placeholder="Cedula" required>
                </div>
        </div>

                <button    type="submit" class="btn btn-primary ">Registrar Linea Nueva</button>
      </form>
        

                     
            
