<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">


</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" >TELEFONIA MOVIL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/regitrousuario']" >Registro Nuevo Usuario <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/registromovil']" >Registro Movil</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/lineaMovil']" >Registrar Linea Movil </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/Listausuarios']" >Lista De Usuarios </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/listamovil']" > Lista De Moviles Registrados </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/listafactura']" >Factura Del Cliente </a>
              </li>

          </ul>
          
        </div>
      </nav>

  </body>
</html>

<router-outlet></router-outlet>
