<link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
<br>
<br>
<br>

<table class="table table-bordered container">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo Plan </th>
            <th scope="col">Precio</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let datos of personas">
            <th scope="row">1</th>
            <td>{{datos.tipo_plan}}</td>
            <td>{{datos.precio}}</td>
            
            
          </tr>
          <tr>
              <td></td>
              <td></td>
              
              

                <button class="btn btn-primary" type="submit" style="margin: 10px">Editar</button>
                <button class="btn btn-danger" type="submit" style="margin: 10px">Eliminar</button>
          </tr>
        
        </tbody>
      </table>
